// quarto-scss-analysis-annotation { "quarto-version": "1.8.25" }

// quarto-scss-analysis-annotation { "origin": "'use' section from format" }



// quarto-scss-analysis-annotation { "origin": "'use' section from Quarto" }



// quarto-scss-analysis-annotation { "origin": "'use' section from user-defined SCSS" }



// quarto-scss-analysis-annotation { "origin": "'functions' section from format" }



// quarto-scss-analysis-annotation { "origin": "'functions' section from Quarto" }



// quarto-scss-analysis-annotation { "origin": "'functions' section from user-defined SCSS" }



// quarto-scss-analysis-annotation { "origin": "Defaults from user-defined SCSS" }



// quarto-scss-analysis-annotation { "origin": "Defaults from Quarto's SCSS" }



// quarto-scss-analysis-annotation { "origin": "Defaults from the format SCSS" }



// quarto-scss-analysis-annotation { "origin": "'mixins' section from format" }



// quarto-scss-analysis-annotation { "origin": "'mixins' section from Quarto" }



// quarto-scss-analysis-annotation { "origin": "'mixins' section from user-defined SCSS" }



// quarto-scss-analysis-annotation { "origin": "'rules' section from format" }



// quarto-scss-analysis-annotation { "origin": "'rules' section from Quarto" }


  $font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
  /*! quarto-variables-start */
  :root {
    --quarto-font-monospace: #{inspect($font-family-monospace)};
  }
  /*! quarto-variables-end */
  

// quarto-scss-analysis-annotation { "origin": "'rules' section from user-defined SCSS" }



// quarto-scss-analysis-annotation { "origin": null }
:root {
}